*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:
    "Segoe UI",
    sans-serif;
    background:#010104;
}
canvas{
    position:fixed;
    inset:0;
    display:block;
    z-index:0;
}
#overlay{
    position:fixed;
    inset:0;
    background:radial-gradient(
        circle at center,
        rgba(255,183,3,.05),
        rgba(0,0,0,.75)
    );
    pointer-events:none;
    z-index:1;
}
.content{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
    z-index:2;
}
.content h1{
    font-size:72px;
    letter-spacing:10px;
    color:#FFD166;
    text-shadow:
    0 0 20px #FFB703,
    0 0 40px #FFB703;
}
.content p{
    margin-top:20px;
    font-size:22px;
    color:#cccccc;
}
.btn{
    margin-top:50px;
    display:inline-block;
    padding:18px 60px;
    border-radius:60px;
    border:2px solid #FFD166;
    color:#FFD166;
    text-decoration:none;
    transition:.4s;
}
.btn:hover{
    background:#FFD166;
    color:black;
    box-shadow:
    0 0 40px #FFD166;
}